<div class="col">
  <div class="card prodCard">
    @if (product.stock > 0) {
    <span class="badge rounded-pill text-bg-success position-absolute z-1 m-3"
      >In Stock</span
    >
    } @else {
    <span class="badge rounded-pill text-bg-danger position-absolute z-1 m-3"
      >Out Of Stock</span
    >
    }
    <div class="img-container">
      <img [src]="product.images[0]" class="img-fluid w-100 img-card" />
      <div class="prodDetails">
        <button class="btn btn-secondary" (click)="productDetails(product.id)">
          View Product Details
        </button>
      </div>
    </div>

    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text fw-bold">${{ product.price }}</p>
      </div>
      <p class="card-text">
        {{ product.description }}
      </p>

      <div class="star-rating my-2">
        <i class="fa fa-star" *ngFor="let star of stars"></i>
        <i class="fa fa-star-half" *ngIf="product.rating % 1 !== 0"></i>
        <span class="mx-2">({{ product.rating }})</span>
      </div>
      <button class="btn btn-primary fw-bold" (click)="addToCart()">Add to Cart</button>
    </div>
  </div>
</div>
